section#contact
  .container
    .title
      h2 Contact
    .main-text
      p If you would like to get in touch with me, feel free to send me an email.
      a(href='mailto:jerridan@gmail.com')
        p.underline jerridan@gmail.com
    .end