section#home
  .container
    .content
      .title
        h1 JERRIDAN.IO
      .profile-pic
      .social
        a(href='https://twitter.com/JerridanQ' target='_blank').social-icon.twitter
        a(href='https://github.com/jerridan' target='_blank').social-icon.github
        a(href='https://ca.linkedin.com/in/jerridan-quiring-0811a120' target='_blank').social-icon.linkedin
      .introduction.main-text
        p Hello! My name is Jerridan Quiring, and I’m a developer located in downtown Toronto. When I’m not coding or
          | &nbsplearning something new, you might find me reading a fiction novel in a coffee shop, camping in Muskoka, or
          | travelling to new and exciting places.
        p I began my career as a developer in the fall of 2012 by learning HTML and CSS to build simple websites.
          | &nbspRealizing how much I enjoyed coding, I decided to pursue it full-time. Since then I have accomplished a 4-year
          | Computer Science program at Western University, completed a 16-month internship in software development, and
          | landed a full-time job as a full-stack developer.
        p My skill set mainly revolves around building and deploying web applications built in Ruby on Rails and JavaScript.
          | &nbspI also have experience creating responsive websites and basic Linux server administration.