section#home
  .container
    .content
      .title
        h1 JERRIDAN.IO
      .profile-pic
      .social
        a(href='https://twitter.com/JerridanQ' target='_blank').social-icon
          i.zmdi.zmdi-twitter.zmdi-hc-2x
        a(href='https://github.com/jerridan' target='_blank').social-icon
          i.zmdi.zmdi-github.zmdi-hc-2x
        a(href='https://ca.linkedin.com/in/jerridan-quiring-0811a120' target='_blank').social-icon
          i.zmdi.zmdi-linkedin.zmdi-hc-2x
      .introduction.main-text
        p Hello! My name is Jerridan Quiring, and I’m a developer located in downtown Toronto. When I’m not coding or
          | &nbsplearning something new, you might find me reading a fiction novel in a coffee shop, camping in Muskoka, or
          | travelling to new and exciting places.
        p My skill set mainly revolves around building and deploying JavaScript-based web applications.
          | &nbspI also have experience creating responsive websites and basic Linux server administration.