doctype html
html(lang='en')
head
  meta(charset='utf-8')
  title Jerridan.io
  meta(name='author' content='Jerridan Quiring')
  meta(name='description' content='Jerridan is a software developer in Toronto, Ontario.')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css')
  link(rel='stylesheet' href='normalize.css')
  link(rel='stylesheet' href='skeleton.css')
body
  .container
    .row
      .one-half.column
        h4 Basic Page
        p This is a placeholder