doctype html
html(lang='en')
head
  meta(charset='utf-8')
  title Jerridan.io
  meta(name='author' content='Jerridan Quiring')
  meta(name='description' content='Jerridan is a software developer in Toronto, Ontario.')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css')
  link(rel='stylesheet' href='foundation.css')
  link(rel='stylesheet' href='styles.css')
body
  .home
    div(data-responsive-toggle='main-menu' data-hide-for='medium').title-bar
      button(type='button' data-toggle).menu-icon
    div(id='main-menu')
      ul(data-dropdown-menu).menu.dropdown
        li
          a(href='#home') HOME
        li
          a(href='#projects') PROJECTS
        li
          a(href='#skills') SKILLS
        li
          a(href='#contact') CONTACT


  script(src='jquery-2.2.3.min.js')
  script(src='foundation.min.js')
  script(src='app.js')