section#projects
  .container
    .title
      h2 PROJECTS
    .project-container
      .project-card#fulkerson
        a(href='')
          .image
            h4.name Ford-Fulkerson Visual
          .description
            span A web app showing a visual animation of the Ford-Fulkerson algorithm on user-defined flow networks.
          .technologies
            span D3.js | Node.js | ES6 | Mocha | Chai
      .project-card#guidebook
        a(href='')
          .image
            h4.name Guidebook
          .description
            span A content management system used to create employee training material and exercises.
          .technologies
            span React | Node.js | Immutable | webpack | PHP | LESS
      .project-card#iris
        a(href='')
          .image
            h4.name Iris
          .description
            span A simple, responsive weather application
          .technologies
            span React | Node.js | webpack | LESS
      .project-card#hooli
        a(href='')
          .image
            h4.name Hooli Drive
          .description
            span A client-server file transfer system.
          .technologies
            span C | Redis | TCP | UDP | Ubuntu
      .project-card#heit
        a(href='')
          .image
            h4.name Heit Lab Website
          .description
            span A website built for the Heit Lab at Western University.
          .technologies
            span Wordpress | HTML | CSS | PHP