section#skills
  .container
    .title
      h2 SKILLS
    .main-text
      p My main skill set lies in full-stack development of web applications. I use Ruby on Rails in the back-end and
        | &nbspthe Redux React JavaScript framework in the front-end. I am also comfortable working with MySQL and PostgreSQL databases.
      p While these technologies are my bread-and-butter, I have experience using a variety of others as well. These
        | &nbspinclude D3.js, AngularJS, HTML and CSS on the front-end, and PHP, Node.js and Redis on the back-end.
      p I have deployed and maintained applications on cloud-based Linux
        | &nbspservers through DigitalOcean, and have some practice with Amazon's EC2 and S3 services and APIs.
      p Outside of web development, I have a solid understanding of C and Ruby, and have dabbled in other languages like C++ and Java.
    .skills-border.main-text