section#skills
  .container
    .title
      h2 SKILLS
    .main-text
      p I began my career as a developer in the fall of 2012 by learning HTML and CSS to build simple websites.
        | &nbspRealizing how much I enjoyed coding, I decided to pursue it full-time. Since then I have accomplished a 4-year
        | Computer Science program, completed a 16-month internship as a
        | Software Developer, and learned to use a variety of technologies.
      p I have experience in both front-end technologies (JavaScript, React, D3, AngularJS, HTML, CSS) and back-end
        | &nbsptechnologies (PHP, Node.js, MySQL, Redis). I have deployed and maintained applications on cloud-based Linux
        | servers through DigitalOcean, and have some practice with Amazon's EC2 and S3 services and APIs.
      p Outside of web development, I have a solid understanding of C and have dabbled in other languages like C++, Java
        | &nbspand Ruby.
    .skills-border.main-text