#home {
  width: 100%;
  //min-height: 50rem;
  background-size: cover;
  background: linear-gradient(
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
  ),
  url('union_station_desktop.jpg') center bottom no-repeat;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  @media @tablet {
    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),
    url('union_station_tablet.jpg') center bottom no-repeat;
    background-size: cover;
  }
  @media @mobile {
    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),
    url('union_station_mobile.jpg') center bottom no-repeat;
    background-size: cover;
  }
  .title {
    text-align: center;
    margin: 3rem 0 3rem;
  }
  .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background: url('profile_pic.jpg') no-repeat;
    background-size: contain;
    margin: auto;
  }
  .social {
    width: 15rem;
    margin: auto;
    display: flex;
    .social-icon {
      display: inline-block;
      margin: 1rem auto;
      width: 2rem;
      height: 2rem;
      &:hover {
        cursor: pointer;
      }
    }
    .twitter {
      background: url('twitter_logo_white.svg') no-repeat;
      background-size: contain;
      width: 2.1rem;
      &:hover {
        background-image: url('twitter_logo_blue.svg');
      }
    }
    .linkedin {
      background: url('linkedin_white.svg');
      background-size: contain;
      &:hover {
        background-image: url('linkedin_blue.svg');
      }
    }
    .github {
      background: url('github_white.svg');
      background-size: contain;
      &:hover {
        background-image: url('github_blue.svg');
      }
    }
  }
  .introduction {
    margin: 3rem auto 0;
  }
}