.home {
  width: 100%;
  background: url('bg_small.png');
  background-size: cover;
  @media screen {
    @media (min-width: 40em) {
      background: url('bg_medium.png');
    }
    @media (min-width: 64em) {
      background: url('bg_large.png');
    }
  }
}