#main-menu {
  position: fixed;
  width: 100%;
  margin: 0 0 3rem;
  z-index: 5;
  padding: 1rem 0 0;
  background: rgba(0, 0, 0, 0.8);
  @media @mobile {
    padding: 1rem 0;
  }
  ul {
    list-style: none;
    display: flex;
    font-size: 1.4rem;
    margin-top: 0;
    padding: 0;
    @media @mobile {
      padding: 0.5rem 0 0;
      transition: all 0.25s;
      display: none;
    }
    li {
      display: inline;
      margin: auto;
      @media @mobile {
        display: block;
        line-height: 3rem;
        background: rgba(224, 224, 224, 0.2);
        &:not(:first-child) {
          border-top: 1px rgba(182, 182, 182, 0.2) solid;
        }
      }
      a {
        border-bottom: 2px solid transparent;
        padding: 0.5rem;
        &:hover, &.active {
          border-color: #FFF;
        }
        transition: 0.25s;
        @media @mobile {
          border: none;
        }
      }
    }
  }
  &.open {
    ul {
      @media @mobile {
        display: block;
      }
    }
  }
  #menu-icon {
    background: url('menu_white.svg');
    background-size: contain;
    width: 2rem;
    height: 2rem;
    display: none;
    @media @mobile {
      display: inline-block;
    }
  }
}